<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-4">
        <div class="card-body">
          <h2>Enter Your OTP Code</h2>

          <% if flash[:error].present? %>
            <div class="alert alert-danger">
              <%= flash[:error] %>
            </div>
          <% end %>

          <%= form_with(url: otp_path, method: 'post', local: true) do |f| %>
            <div class="form-group">
              <%= f.label :otp_code, class: 'form-label' %>
              <%= f.number_field :otp_code, class: 'form-control', required: true, placeholder: 'Enter OTP Code', min: 100000, max: 999999 %>
            </div>

            <div class="mt-4">
              <%= f.submit 'Submit OTP', class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>